* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0;
  margin: 0;
  background-color: #f4f9f9 !important;
}
nav li a,
nav form button,
h1,
label {
  text-transform: capitalize;
}
#logo {
  width: 100px;
}
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav-link {
  font-weight: bold;
}
nav .form-inline .form-control {
  width: 300px !important;
}
h1 {
  color: #007bff !important;
}
footer {
  padding: 15px;
  background-color: rgb(25, 25, 25);
  color: white;
  text-align: center;
}
.btn {
  background-color: #007bff;
  border: 1px solid #007bff;
  color: white;
}
.btn:hover {
  background-color: white;
  color: #007bff;
  border: 1px solid #007bff;
}
#cart {
  margin: 2rem auto;
  width: 600px;
  padding: 1rem;
}
.item {
  display: grid;
  grid-template-columns: auto 1fr 100px 100px;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
  border-bottom: 1px solid gray;
  padding-bottom: 1rem;
}
.item p,
#lower p {
  margin-bottom: 0;
  text-align: center;
}
.item img {
  height: 75px;
  width: 75px;
  border-radius: 0.25rem;
}
#lower {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
}
#total-wrapper {
  border: 1px solid #007bff;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
